body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--fon-color);
    color: white;
}
:root{
    font-size: 18px;
    --fon-color: #252237;
    --orange: #E2521D;
    --secondary-color: #8997AB;
    --list-color: #0E1B28;
}
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3{
    font-size: 2.8rem;
    text-align: center;
}
header{
    margin: 50px auto 92px auto;
    width: 1400px;
    max-width: 100%;
    font-size: 1.7rem;
}
.container{
    width: 1073px;
    max-width: 100%;
    margin: 0 auto;
}
main{
    max-width: 433px;
}
main h1{
    text-align: center;
    font-size: 3.9rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: -2.5px;
    text-transform: uppercase;
}
main p{
    font-size: 1.1rem;
    margin: 31px 0 74px 0;
    line-height: 24px;
}
.sign-up-1{
    background-color: var(--orange);
    padding: 23px 71px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.sign-up-1:hover{
    box-shadow: 0px 0px 55px rgba(202, 0, 80, 0.51);
}
main::before {
    width: 1300.64px;
    max-width: 100%;
    height: 771.37px;
    
    background-image: url('../img/fon\ 1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px center;
    
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    
    z-index: -1;
    
}
.section-1{
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right-1{
    max-width: 572px;
}
.left-1 img{
    max-width: 100%;
}
.right-1 h3{
    text-align: left;
}
.right-1 h5{
    font-size: 1.39rem;
    color: var(--orange);
    margin: 80px 0 60px 0;
    line-height: 40px;
}
.right-1 p{
    color: var(--secondary-color);
    line-height: 34px;
}
.section-2{
    margin: 66px 0 115px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.section-2 h3{
    margin-bottom: 18px;
}
.plan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-plan{
    width: 360px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
    align-content: flex-start;
    margin-top: 70px;
    max-width: 100%;
}
.content-plan p{
    margin-top: 25px;
    line-height: 34px;
    font-weight: 500;
}
.course-program{
    margin: 75px 0 111px 0;
}
details li{
    list-style: none;
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
details ul{
    margin: 30px 0 45px 100px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
    padding: 25px 0 25px 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
    background: var(--list-color);
}
  summary:after {  
    content: url('../img/cross.png');
    margin-left: .3em;
    display: inline-block;
    transition: transform .5s;
    margin-right: 97px;
    transform: rotate(-45deg);
  }

  details[open] > summary:after {
    transform: rotate(0deg);
    content: url('../img/cross.png');
  }
  summary:focus {
    outline:0;
    background: var(--orange);
    text-transform: uppercase;
  }
  details[open] summary ~ *{ 
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }
.section-4{
    margin-bottom: 100px;
}

.content-for{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.content-for h5{
    max-width:  572px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 52px;
    color: var(--orange);
    margin: 164px 0 50px 0;
}
.content-for p{
    max-width:  572px;
    line-height: 34px;
    color: var(--secondary-color);
}
.section-4::before{
    width: 1300.64px;
    max-width: 100%;
    height: 771.37px;
    
    background-image: url('../img/fon\ 2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    content: '';
    display: block;
    position: absolute;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    
    z-index: -1;
}
.passing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 43px 0 92px 0;
}

.content-passing{
    width: 470px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 60px;
}
.content-passing h5{
    margin: 30px 0;
    font-size: 1.3rem;
    font-weight: 700;
}
.content-passing p{
    line-height: 34px;
    color: var(--secondary-color);
}
.sign-up-2{
    background-color: var(--orange);
    width: 1073px;
    height: 177px;
    max-width: 100%;
    color: white;
    border: none;
    margin-bottom: 35px;
}
.sign-up-2 h4{
    line-height: 22px;
    font-size: 1.3rem;
    font-weight: 700;
}
.sign-up-2 p{
    line-height: 34px;
    margin-top: 15px;
}
.checkbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.checkbox label{
    line-height: 34px;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid white;
    border-radius: 0.5em;
    margin-right: 2em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    border-color: var(--orange);
    background-color: none;
    background-image: url('../img/galochka.svg');
}
hr{
    border: 1px solid var(--secondary-color);
    margin: 66px 0 23px 0;
}
.section-6 h4{
    font-size: 1.1rem;
    line-height: 140%;
    font-weight: 800;
    text-align: center;
}
.sect-6-p{
    font-size: 0.8rem;
    text-align: center;
    margin: 36px 0 30px 0;
}
.forma{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 458px;
    max-width: 100%;
    margin-bottom: 66px;
}
input{
    margin-bottom: 24px;
    color: white;
    border-radius: 8px;
}
input[type=text] {
    border: 1px solid var(--orange);
    border-radius: 10px;
    padding: 20px 0 20px 27px;
    background: none;
    color: white;
}
input[type=submit]{
    background-color: var(--orange);
    padding: 15px 0;
    font-size: 1.17rem;
    border: none;
    font-weight: 800;
}
.custom-checkbox-2{
    margin: 0;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-footer ul li{
    list-style: none;
    margin-bottom: 10px;
}
.content-footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
.content-footer p{
    font-size: 0.8rem;
}
.foot-ul{
    display: flex;
    flex-wrap: wrap;
    margin: 11px 0;
}
.foot-ul li{
    margin-right: 25px;
}
.custom-label label{
    font-size: 0.7rem;
    line-height: 140%;
    padding: 0;
}
@media screen and (max-width: 500px){
    :root{
        font-size: 14px;
    }
    header{
        max-width: 90%;
    }
    .content-plan{
        width: 100%;
    }
    .checkbox{
        justify-content: flex-start;
        flex-direction: column;
        align-content: center;
    }
}
@media screen and (max-width: 1182px){
    .container{
        max-width: 90%;
    }
}
@media screen and (max-width: 1134px){
    .section-1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .right-1{
        max-width: 100%;
    }
    .left-1 img{
        margin-top: 70px;
    }
    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
}
